<!-- Launch file to run the feature extraction system -->
<launch>
	<!-- Arguments -->
	<arg name="camera_source" default="/prosilica/" />
	
	<param name="use_sim_time" value="True"/>
	
	<!-- Camera processing -->
	<group ns="$(arg camera_source)">
		<node name="image_proc" 
	              pkg="image_proc" 
	              type="image_proc" />
	</group>
	
	<!-- System nodes -->
	<node name="simple_visual_odometry" 
              pkg="simple_visual_odometry" 
              type="simple_visual_odometry" 
              args="$(arg camera_source)" 
              output="screen">
        <rosparam param="T_WR"> [-1.78124129772, 1.07074224949, 0.862033426762, 0.720042946007, -0.0110130589769, -0.00342534483456, 0.693833651137] </rosparam>
        
        <!-- Origin -->
        <!-- [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0 ] -->
   
        <!-- airlab imu frontal -->
        <!-- [-1.53870272636, -0.267741203308, 0.860812246799, 0.726202942701, -0.0127639412724,  -0.011182685974, 0.687270918452] -->
        
        <!-- airlab imu lateral -->
        <!-- [-1.78124129772, 1.07074224949, 0.862033426762, 0.720042946007, -0.0110130589769, -0.00342534483456, 0.693833651137] -->
    </node>
              
              
    <!--  launch-prefix="gdb -x /home/dave/cmds -#-args" --> 	
    
    <node name="rviz" 
          pkg="rviz" 
          type="rviz"
          respawn="true" />	

</launch> 
